@charset "UTF-8";


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(66, 71, 90);
}
header {
    background-color: rgb(86, 87, 92);
    padding: 0px 50px 50px 10px;
    margin: 61px;
    border-radius: 10px;
}
nav > a{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: lightblue;
}
nav > a:hover {
    text-decoration: underline;
    color: white;
}
article {
    background-color: white;
        font-family: 'Times New Roman', Times, serif;
        padding: 1px 10px 15px 10px;
        border: rgb(56, 73, 105) solid;
        border-width: 10px;
}
strong {
    font-size: 50px;
    
}
n {
    background-color: grey;
    padding: 5px 10px 5px 10px;
    border: lightgrey solid 4px;
    margin:-2px;
}
footer {
    font-size: 50px;
    margin: -30px 10px 10px 10px;
}